rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /customers/{uid} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
    }

    match /customers/{uid}/addresses/{addressId} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
    }

    match /customers/{uid}/favorites/{favoriteId} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
    }

    match /customers/{uid}/preferences/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
    }

    match /customers/{uid}/notificationTokens/{tokenId} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
    }
  }
}
